@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#addBill,
#addItem,
#sharedBetween > div > select,
#totalItemsSoFar,
#addTip,
#allItemsAllocated,
#totalAmountToSplit,
#finalSplit,
#detailedSplit {
    display: none;
}

:root {
    --dkblue: 41, 44, 63;
    --dkred: 172, 24, 24;
    --yellow: 237, 217, 58;
    --orange: 163, 100, 14;
    --ltgrey: 224, 225, 207;
}

body {
    background: rgb(var(--dkblue));
}

::placeholder {
    color: rgba(0,0,0,0.5);
}

#container {
    background: url('../bg.jpg') top center;
    background-size: cover;
    min-height: 96vh;
    max-width: 540px;
    color: rgb(var(--ltgrey));
    padding: 2vh;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
}

h1 {
    font-family: 'Lobster', cursive;
    background-color: rgba(var(--dkblue),1);
    color: rgb(var(--orange));
    /* text-transform: uppercase; */
    font-weight: 200;
    margin-top: 0;
}

h1 > span {
    color: rgb(var(--yellow));
}

main {
    background-color: rgba(var(--dkblue), 0.85);
    min-height: 80vh;
    padding: 1rem;
}

#addName {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#namesList {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5;
}

.instruction {
    text-transform: uppercase;
    /* color: rgb(var(--yellow)); */
    font-weight: bold;
    font-size: smaller;
}

#name, #billTotal, #itemAmount, #tipAmount {
    box-sizing: border-box;
    display: block;
    margin: 1rem auto;
    padding: 0.75rem;
    width: 80%;
    background-color: rgb(var(--ltgrey));
    border: none;
}

#name:focus, #billTotal:focus, #itemAmount:focus, #tipAmount:focus {
    outline: 3px solid rgba(var(--orange));
}

#nameSubmit,
#splitBillButton,
#billSubmit,
#itemSubmit,
#tipSubmit,
#showDetailedSplit {
    background-color: rgb(var(--dkblue));
    color: rgb(var(--yellow));
    padding: 0.5rem;
    border: 1px outset rgba(var(--ltgrey), 0.5);
    /* border: none; */
    border-radius: 0.5rem;
    width: 80%;
    cursor: pointer;
}

#nameSubmit:focus,
#splitBillButton:focus,
#billSubmit:focus,
#itemSubmit:focus,
#tipSubmit:focus,
#showDetailedSplit:focus {
    border-color: rgba(var(--ltgrey), 0.85);
}

#sharedBetween, #suggestions {
    margin: 1rem;
    padding: 1rem 0.5rem;
    border: 1px solid rgba(var(--ltgrey), 0.5);
}

#sharedBetween input, #sharedBetween select {
    margin: 0.5rem;
    background-color: rgb(var(--ltgrey));
    line-height: 1.5;
}

#finalSplit {
    overflow: scroll;
}

#finalSplit ul {
    font-size: 90%;
    line-height: 2;
    list-style-type: none;
    padding: 1rem;
    text-align: center;
    background-color: rgb(var(--dkblue));
}

#finalSplit li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.5rem;
}

#finalSplit li:nth-child(even) {
    background-color: rgba(var(--ltgrey), 0.1);
}

#finalSplit li.name {
    font-weight: bold;
}

li.finalTotal {
    font-weight: bold;
    padding: 0.5rem 0;
    border-top: 1px solid rgb(var(--ltgrey), 0.5);
    border-bottom: 1px solid rgb(var(--ltgrey), 0.5);
}

#finalSplit table {
    background-color: rgb(var(--dkblue));
    font-size: 90%;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
    border-collapse: collapse;
}

#finalSplit table tr:nth-child(even) {
    background-color: rgba(var(--ltgrey), 0.1);
}

.headers th {
    color: rgb(var(--orange));
    border-bottom: 1px solid rgb(var(--orange), 0.5);
}

.left {
    text-align: left;;
}

.right {
    text-align: right;
}

.sub-total td, .total td {
    padding: 0.5rem 0;
    border-top: 1px solid rgb(var(--ltgrey), 0.5);
}

.total td {
    font-weight: bold;
    border-bottom: 1px solid rgb(var(--ltgrey), 0.5);
}

/* <span>Photo by <a href="https://unsplash.com/@realbench?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Carlos Lindner</a> on <a href="https://unsplash.com/s/photos/restaurant-table?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */